hot-deploy/base/patches/devel/hot-deploy/base/config/ws/StandardImportInterfaceWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions targetNamespace="http://ws.standardImport.mapsengineering.com/" name="StandardImportWS" xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:tns="http://ws.standardImport.mapsengineering.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

	<types>
		<xs:schema version="1.0" targetNamespace="http://ws.standardImport.mapsengineering.com/" xmlns:tns="http://ws.standardImport.mapsengineering.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		
	        <xs:complexType name="organizationInterfaceExt">
	            <xs:sequence>
	                <xs:element name="refDate" type="xs:date"/>
					<xs:element name="dataSource" type="xs:string"/>
	                <xs:element name="orgCode" type="xs:string"/>
	                <xs:element name="description" type="xs:string"/>
	                <xs:element name="parentOrgCode" type="xs:string" minOccurs="0"/>
	                <xs:element name="responsibleCode" type="xs:string" minOccurs="0"/>
	                <xs:element name="thruDate" type="xs:date" minOccurs="0"/>
	                <xs:element name="orgRoleTypeId" type="xs:string"  minOccurs="0"/>
	                <xs:element name="parentRoleTypeId" type="xs:string" minOccurs="0"/>
	                <xs:element name="descriptionLang" type="xs:string" minOccurs="0"/>
	                <xs:element name="longDescription" type="xs:string" minOccurs="0"/>
	                <xs:element name="longDescriptionLang" type="xs:string" minOccurs="0"/>
	                <xs:element name="vatCode" type="xs:string" minOccurs="0"/>
	                <xs:element name="parentFromDate" type="xs:date" minOccurs="0"/>
	                <xs:element name="responsibleFromDate" type="xs:date" minOccurs="0"/>
	                <xs:element name="responsibleThruDate" type="xs:date" minOccurs="0"/>
	                <xs:element name="responsibleComments" type="xs:string" minOccurs="0"/>
	                <xs:element name="responsibleRoleTypeId" type="xs:string" minOccurs="0"/>
	            </xs:sequence>
	        </xs:complexType>
			<xs:complexType name="ArrayOfOrganizationInterfaceExt">
			    <xs:sequence>
			        <xs:element minOccurs="0" maxOccurs="unbounded" name="organizationInterfaceExt" nillable="true" type="tns:organizationInterfaceExt"/>
			    </xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfOrganizationInterfaceExtWSRequest" nillable="true" type="tns:ArrayOfOrganizationInterfaceExt"/>
			    		
			<xs:complexType name="personInterfaceExt">
	            <xs:sequence>
	                <xs:element name="dataSource" type="xs:string"/>
	                <xs:element name="refDate" type="xs:date"/>
					<xs:element name="personCode" type="xs:string"/>
	                <xs:element name="firstName" type="xs:string"/>
	                <xs:element name="lastName" type="xs:string"/>
	                <xs:element name="employmentAmount" type="xs:int" minOccurs="0"/>
					<xs:element name="emplPositionTypeId" type="xs:string" minOccurs="0"/>
	                <xs:element name="qualifCode" type="xs:string" minOccurs="0"/>
	                <xs:element name="qualifFromDate" type="xs:date" minOccurs="0"/>
					<xs:element name="employmentOrgCode" type="xs:string" minOccurs="0"/>
	                <xs:element name="personRoleTypeId" type="xs:string" minOccurs="0"/>
	                <xs:element name="comments" type="xs:string" minOccurs="0"/>
	                <xs:element name="description" type="xs:string" minOccurs="0"/>
	                <xs:element name="fromDate" type="xs:date" minOccurs="0"/>
	                <xs:element name="thruDate" type="xs:date" minOccurs="0"/>
	                <xs:element name="employmentRoleTypeId" type="xs:string" minOccurs="0"/>
	                <xs:element name="employmentOrgComments" type="xs:string" minOccurs="0"/>
	                <xs:element name="allocationOrgCode" type="xs:string" minOccurs="0"/>
	                <xs:element name="allocationRoleTypeId" type="xs:string" minOccurs="0"/>
	                <xs:element name="allocationOrgComments" type="xs:string" minOccurs="0"/>
	                <xs:element name="evaluatorCode" type="xs:string" minOccurs="0"/>
	                <xs:element name="evaluatorFromDate" type="xs:date" minOccurs="0"/>
	                <xs:element name="contactMail" type="xs:string" minOccurs="0"/>
	                <xs:element name="contactMobile" type="xs:string" minOccurs="0"/>
	                <xs:element name="userLoginId" type="xs:string" minOccurs="0"/>
	                <xs:element name="groupId" type="xs:string" minOccurs="0"/>
	                <xs:element name="isEvalManager" type="xs:string" minOccurs="0"/>
	                <xs:element name="approverCode" type="xs:string" minOccurs="0"/>
	                <xs:element name="workEffortAssignmentCode" type="xs:string" minOccurs="0"/>
	                <xs:element name="workEffortDate" type="xs:date" minOccurs="0"/>
	                <xs:element name="employmentOrgDescription" type="xs:string" minOccurs="0"/>
	                <xs:element name="allocationOrgDescription" type="xs:string" minOccurs="0"/>
	                <xs:element name="allocationOrgThruDate" type="xs:date" minOccurs="0"/>
	                <xs:element name="fiscalCode" type="xs:string" minOccurs="0"/>
	                <xs:element name="employmentOrgFromDate" type="xs:date" minOccurs="0"/>
	                <xs:element name="employmentOrgThruDate" type="xs:date" minOccurs="0"/>
	                <xs:element name="emplPositionTypeDate" type="xs:date" minOccurs="0"/>
	            </xs:sequence>
	        </xs:complexType>
			<xs:complexType name="ArrayOfPersonInterfaceExt">
			    <xs:sequence>
			        <xs:element minOccurs="0" maxOccurs="unbounded" name="personInterfaceExt" nillable="true" type="tns:personInterfaceExt"/>
			    </xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfPersonInterfaceExtWSRequest" nillable="true" type="tns:ArrayOfPersonInterfaceExt"/>
			
			<xs:complexType name="allocationInterfaceExt">
	            <xs:sequence>
	                <xs:element name="dataSource" type="xs:string" minOccurs="1"/>
	                <xs:element name="refDate" type="xs:date"/>
					<xs:element name="personCode" type="xs:string"/>
	                <xs:element name="personRoleTypeId" type="xs:string" minOccurs="0"/>
	                <xs:element name="allocationRoleTypeId" type="xs:string" minOccurs="0"/>
	                <xs:element name="allocationOrgCode" type="xs:string"/>
	                <xs:element name="allocationOrgComments" type="xs:string" minOccurs="0"/>
	                <xs:element name="allocationOrgDescription" type="xs:string" minOccurs="0"/>
	                <xs:element name="allocationFromDate" type="xs:date"/>
	                <xs:element name="allocationThruDate" type="xs:date"/>
	                <xs:element name="allocationValue" type="xs:int"/>
	            </xs:sequence>
	        </xs:complexType>
			<xs:complexType name="ArrayOfAllocationInterfaceExt">
			    <xs:sequence>
			        <xs:element minOccurs="0" maxOccurs="unbounded" name="allocationInterfaceExt" nillable="true" type="tns:allocationInterfaceExt"/>
			    </xs:sequence>
			</xs:complexType>
			<xs:element name="ArrayOfAllocationInterfaceExtWSRequest" nillable="true" type="tns:ArrayOfAllocationInterfaceExt"/>
			    		
			<xs:complexType name="standardImportResponse">
	            <xs:sequence>
	                <xs:element name="code" type="xs:string" minOccurs="0"/>
	                <xs:element name="message" type="xs:string" minOccurs="0"/>
	                <xs:element name="recordElaborated" type="xs:int"/>
	                <xs:element name="blockingErrors" type="xs:int"/>
	                <xs:element name="warningMessages" type="xs:int"/>
	            </xs:sequence>
	        </xs:complexType>
	        <xs:complexType name="standardImportWSResponse">
	            <xs:sequence>
	            	<xs:element name="standardImportResponse" type="tns:standardImportResponse" nillable="true" minOccurs="0"/>
	            </xs:sequence>
	        </xs:complexType>
	        <xs:element name="standardImportWSResponse" nillable="true" type="tns:standardImportWSResponse"/>
        
		</xs:schema>
	</types>
	<message name="setOrganizationInterfaceExtRequest">
		<part name="parameters" element="tns:ArrayOfOrganizationInterfaceExtWSRequest"/>
	</message>
	<message name="setOrganizationInterfaceExtResponse">
		<part name="parameters" element="tns:standardImportWSResponse"/>
	</message>
	<message name="setPersonInterfaceExtRequest">
		<part name="parameters" element="tns:ArrayOfPersonInterfaceExtWSRequest"/>
	</message>
	<message name="setPersonInterfaceExtResponse">
		<part name="parameters" element="tns:standardImportWSResponse"/>
	</message>
	<message name="setAllocationInterfaceExtRequest">
		<part name="parameters" element="tns:ArrayOfAllocationInterfaceExtWSRequest"/>
	</message>
	<message name="setAllocationInterfaceExtResponse">
		<part name="parameters" element="tns:standardImportWSResponse"/>
	</message>
	<portType name="StandardImportServiceSoap">
		<operation name="setOrganizationInterfaceExt">
			<input message="tns:setOrganizationInterfaceExtRequest"/>
			<output message="tns:setOrganizationInterfaceExtResponse"/>
		</operation>
		<operation name="setPersonInterfaceExt">
			<input message="tns:setPersonInterfaceExtRequest"/>
			<output message="tns:setPersonInterfaceExtResponse"/>
		</operation>
		<operation name="setAllocationInterfaceExt">
			<input message="tns:setAllocationInterfaceExtRequest"/>
			<output message="tns:setAllocationInterfaceExtResponse"/>
		</operation>
		
	</portType>
	<binding name="StandardImportServiceSoapBinding" type="tns:StandardImportServiceSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="setOrganizationInterfaceExt">
			<soap:operation soapAction=""/>
			<input name="setOrganizationInterfaceExtRequest">
				<soap:body use="literal"/>
			</input>
			<output name="setOrganizationInterfaceExtResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="setPersonInterfaceExt">
			<soap:operation soapAction=""/>
			<input name="setPersonInterfaceExtRequest">
				<soap:body use="literal"/>
			</input>
			<output name="setPersonInterfaceExtResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="setAllocationInterfaceExt">
			<soap:operation soapAction=""/>
			<input name="setAllocationInterfaceExtRequest">
				<soap:body use="literal"/>
			</input>
			<output name="setAllocationInterfaceExtResponse">
				<soap:body use="literal"/>
			</output>
		</operation>
		
	</binding>
	<service name="StandardImportServiceSoapService">
		<port binding="tns:StandardImportServiceSoapBinding" name="StandardImportService">
			<soap:address location="http://@ofbiz.rmi.bound-host@:@ofbiz.port.http@/ws/services/StandardImportService"/>
		</port>
	</service>
</definitions>